<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Salom Xush Kelibsiz</p>
{% if user.is_authenticated %}
<p>Siz Tizim ichidasiz</p>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Tizimdan Chiqish</button>
{% else %}
<p>Siz tizim ichida emassiz! Quyidagi havoladan foydalaning</p>
<a href="{% url 'login' %}">Tizimga Kirish</a>
<p>Accountingiz yo'qmi</p><a href="{% url 'register' %}">Ro'yxatdan o'tish</a>
{% endif %}

</form>
</body>
</html>